@import ../_variables

.guest-layout
    height: 100vh
    width: 100vw
    background: $background-secondary
    display: grid
    place-items: center

.default-layout
    height: 100vh
    width: 100vw
    display: grid
    gap: 2rem
    grid-template-columns: 7rem 1fr

    &__main
        width: 100%
        min-height: 100vh
